<% provide(:title, '出勤中社員一覧') %>
<h1>出勤中社員一覧</h1>

<div>
  <table class="table-bordered table-striped table-condensed">
    <thead>  
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>
    
    <tbody>
      <% @now_users_employee_number.each do |employee_number| %>
        <% @now_users.each do |name| %>
          <tr>
            <td>
              <%= employee_number %>
             </td>
             <td>
              <%= name %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>